@import "tailwindcss";


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Optional: apply this only to layout root */
#root {
  margin: 0;
  padding: 0;
}